install dash==0.30.0
install pandas==1.0.5
install numpy==1.19.5
install tensorflow==2.5.0
install keras==2.6.0
install dash-renderer==0.15.1
install dash-html-components==0.13.2
install dash-core-components==0.38.1
install plotly==5.3.1
install dash-bootstrap-components==1.0.0
